*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root, .app, nav{
  max-width: 100%;
}

body{
  min-height: 100dvh;
  background-image: linear-gradient(to bottom right, #333, #222, #333);
}

nav{
  display: flex;
  align-items: center;
  justify-content: end;
}

nav a{
  text-decoration: none;
  color: #eec;
  font-weight: bold;
  font-size: 20px;
}

h1{
  color: #eec;
}

.container, .container-register{
  width: 100%;
  height: 100%;
  color: #eec;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
}

h1{
  margin-top: 25px;
}

.container h2{
  border-bottom: 2px groove #eec;
  width: 80%;
  text-align: center;
}

.container-register div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-register div div{
  text-decoration: none;
}

form, .confirmationPage{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #eec;
  gap: 1.25rem;
}

button{
  color: white;
}

.registration-card{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: .625rem;
  border: 2px solid #eec;
  border-radius: 20px;
  padding: 50px;
}

.btn-group{
  display: flex;
  gap: .625rem;
}

.btn-success{
  background-color: #282;
  font-weight: bold;
}